@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

body {
  font-family: 'Work Sans', sans-serif;
}

body:has(.card[data-color='blue']:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color='green']:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .subhead2-text {
    @apply border-b-2 border-[#C1A156] pb-2;
  }

  .gold-gradient-text {
    @apply bg-gradient-to-r from-[#f3bf47] to-[#C1A156] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal;
  }

  .btn {
    @apply text-white bg-gradient-to-r  from-[#f3bf47] to-[#C1A156] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-30 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
    @apply font-extrabold flex-1 text-3xl max-md:text-center;
  }

  .home-main-section {
    @apply h-screen relative bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-slate-700  to-slate-900;
  }
  .home-info-h1 {
    @apply text-3xl md:text-5xl lg:text-6xl font-bold text-left py-20 md:py-6 px-8 -my-64 text-white mx-5 z-30;
  }
  .home-info-gold-subhead {
    @apply block my-2 font-semibold md:font-bold text-2xl md:text-3xl md:mx-0 text-white;
  }
  .home-info-gold-span {
    @apply font-bold mx-2;
  }
  .home-info-button {
    @apply inline-block text-white text-lg md:text-xl mx-0 md:mx-2 my-2 md:my-4 bg-transparent hover:bg-slate-500  font-semibold hover:text-white py-2 px-4 border border-slate-500 hover:border-transparent rounded;
  }
  .subhead-text {
    @apply text-xl sm:text-3xl font-semibold relative;
  }
  .main-section {
    @apply h-screen relative overflow-hidden block z-10 before:bg-[url('../../public/images/sky-patternn.png')] before:bg-repeat	 before:content-['']  before:absolute before:inset-0 before:block  before:opacity-75 before:z-[-5] bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-slate-700  to-slate-900;
  }
  .about-p-container {
    @apply mt-3 flex flex-col justify-start items-start lg:flex-row lg:items-end lg:justify-between gap-3 text-slate-200;
  }
  .about-skills-container {
    @apply mt-6 flex flex-wrap gap-12 lg:justify-between;
  }
  .about-skill {
    @apply block-container w-20 h-20;
  }
  .about-skill-front-btn {
    @apply rounded-xl flex justify-center items-center cursor-pointer;
  }
  .about-skill-front-btn img {
    @apply w-1/2 h-1/2 object-contain;
  }
  .about-skill-p {
    @apply text-sm font-medium my-1 text-white text-center;
  }
  .projects-main-container {
    @apply px-12 md:px-20 xl:px-36 mt-28;
  }
  .projects-container {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8 mt-10;
  }
  .project-container {
    @apply flex items-start flex-1 flex-col sm:flex-row md:flex-col lg:flex-row gap-4;
  }
  .project-title {
    @apply mb-2 text-base font-bold tracking-tight text-[#C1A156];
  }
  .project-desc {
    @apply mb-3 font-normal text-gray-100 text-justify text-sm;
  }
  .project-btn {
    @apply inline-flex items-center px-2 md:px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300;
  }
  .project-detail-container {
    @apply mt-5 flex justify-start gap-3 items-start flex-col sm:flex-row;
  }
  .project-detail-img {
    @apply rounded-lg w-full sm:w-60 mr-5;
  }
  .project-detail-techs-container {
    @apply flex mt-2 w-60 flex-wrap gap-1 justify-start;
  }
  .project-detail-tech {
    @apply p-1 border text-sm border-[#C1A156] rounded text-[#f3bf47];
  }
  .project-detail-desc-container {
    @apply bg-slate-700 p-3 pb-1 rounded-lg justify-end;
  }
  .project-detail-desc {
    @apply text-white list-disc font-light ml-5 text-justify text-sm;
  }
  .contact-main-container {
    @apply max-w-5xl mx-auto sm:p-16 p-8 pb-12 mt-10 min-h-[calc(100vh-80px)];
  }
  .contact-info-container {
    @apply flex gap-3 items-center justify-start;
  }
  .navbar-logo-link {
    @apply w-10 h-10 rounded-lg bg-white items-center justify-center flex font-bold shadow-md;
  }
  .navbar-logo {
    @apply font-bold text-xl gold-gradient-text;
  }
  .navbar-btn {
    @apply inline-flex items-center p-2 w-10 h-10  justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200;
  }
  .navbar-side-menu {
    @apply fixed bg-opacity-100 shadow-[rgba(0,0,5,0.1)_6px_5px_4px_0px] top-0 left-0 w-[60%] h-full md:hidden pl-16 pt-16 bg-slate-900 ease-in-out transition-transform duration-300;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow:
    0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #1f2935;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow:
    0.6vmin 0.6vmin #336cc1,
    1vmin 1vmin #0092db,
    1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db,
    1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow:
    0.6vmin 0.6vmin #fff,
    1vmin 1vmin #d2e4ff,
    1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff,
    1vmin 0.65vmin #d2e4ff;
}
